docs/demoapp/v0/plantscribe/resources/Plantscribe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://schemata.everest.org/plantscribe"
    elementFormDefault="qualified"
    xmlns:rc="http://schemata.everest.org/resource"
    xmlns:app="http://schemata.everest.org/plantscribe"
>
    <import
        schemaLocation="Resource.xsd"
        namespace="http://schemata.everest.org/resource"
    >
    </import>

    <!-- CUSTOMER resource -->

    <complexType name="CustomerType">
        <complexContent>
            <extension base="rc:ResourceType">
                <choice>
                    <element
                        name="link"
                        type="app:CustomerLinkType"
                    >
                    </element>
                    <sequence>
                        <element
                            name="first_name"
                            type="string"
                        >
                        </element>
                        <element
                            name="last_name"
                            type="string"
                        >
                        </element>
                        <element ref="app:projects"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                    </sequence>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="CustomerCollectionType">
        <choice>
            <element
                ref="app:customer"
                maxOccurs="unbounded"
                minOccurs="0"
            >
            </element>
            <element
                name="link"
                type="app:CustomerCollectionLinkType"
                maxOccurs="1"
                minOccurs="0"
            >
            </element>
        </choice>
    </complexType>

    <complexType name="CustomerLinkType">
        <complexContent>
            <restriction base="rc:ResourceLinkType">
                <!-- The relation URI for members of your resource. -->
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/customer"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="CustomerCollectionLinkType">
        <complexContent>
            <!-- The relation URI for a collection of your resource. -->
            <restriction base="rc:ResourceLinkType">
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/customer-collection"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <element
        name="customer"
        type="app:CustomerType"
    >
    </element>

    <element
        name="customers"
        type="app:CustomerCollectionType"
    >
    </element>

    <!-- PROJECT resource -->

    <complexType name="ProjectType">
        <complexContent>
            <extension base="rc:ResourceType">
                <choice>
                    <element
                        name="link"
                        type="app:ProjectLinkType"
                    >
                    </element>
                    <sequence>
                        <element
                            name="name"
                            type="string"
                        >
                        </element>
                        <element ref="app:customer">
                        </element>
                        <element ref="app:sites">
                        </element>
                    </sequence>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ProjectCollectionType">
        <choice>
            <element
                ref="app:project"
                maxOccurs="unbounded"
                minOccurs="0"
            >
            </element>
            <element
                name="link"
                type="app:ProjectCollectionLinkType"
                maxOccurs="1"
                minOccurs="0"
            >
            </element>
        </choice>
    </complexType>

    <complexType name="ProjectLinkType">
        <complexContent>
            <restriction base="rc:ResourceLinkType">
                <!-- The relation URI for members of your resource. -->
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/project"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="ProjectCollectionLinkType">
        <complexContent>
            <!-- The relation URI for a collection of your resource. -->
            <restriction base="rc:ResourceLinkType">
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/project-collection"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <element
        name="project"
        type="app:ProjectType"
    >
    </element>

    <element
        name="projects"
        type="app:ProjectCollectionType"
    >
    </element>

    <!-- SITE resource -->

    <complexType name="SiteType">
        <complexContent>
            <extension base="rc:ResourceType">
                <choice>
                    <element
                        name="link"
                        type="app:SiteLinkType"
                    >
                    </element>
                    <sequence>
                        <element
                            name="name"
                            type="string"
                        >
                        </element>
                        <element ref="app:incidences">
                        </element>
                        <element ref="app:project">
                        </element>
                    </sequence>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SiteCollectionType">
        <choice>
            <element
                ref="app:site"
                maxOccurs="unbounded"
                minOccurs="0"
            >
            </element>
            <element
                name="link"
                type="app:SiteCollectionLinkType"
                maxOccurs="1"
                minOccurs="0"
            >
            </element>
        </choice>
    </complexType>

    <complexType name="SiteLinkType">
        <complexContent>
            <restriction base="rc:ResourceLinkType">
                <!-- The relation URI for members of your resource. -->
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/site"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="SiteCollectionLinkType">
        <complexContent>
            <!-- The relation URI for a collection of your resource. -->
            <restriction base="rc:ResourceLinkType">
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/site-collection"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <element
        name="site"
        type="app:SiteType"
    >
    </element>

    <element
        name="sites"
        type="app:SiteCollectionType"
    >
    </element>

    <!-- SPECIES resource -->

    <complexType name="SpeciesType">
        <complexContent>
            <extension base="rc:ResourceType">
                <choice>
                    <element
                        name="link"
                        type="app:SpeciesLinkType"
                    >
                    </element>
                    <sequence>
                        <element
                            name="species_name"
                            type="string"
                        >
                        </element>
                        <element
                            name="genus_name"
                            type="string"
                        >
                        </element>
                        <element
                            name="cultivar"
                            type="string"
                        >
                        </element>
                        <element
                            name="author"
                            type="string"
                        >
                        </element>
                    </sequence>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SpeciesCollectionType">
        <choice>
            <element
                ref="app:species"
                maxOccurs="unbounded"
                minOccurs="0"
            >
            </element>
            <element
                name="link"
                type="app:SpeciesCollectionLinkType"
                maxOccurs="1"
                minOccurs="0"
            >
            </element>
        </choice>
    </complexType>

    <complexType name="SpeciesLinkType">
        <complexContent>
            <restriction base="rc:ResourceLinkType">
                <!-- The relation URI for members of your resource. -->
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/species"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="SpeciesCollectionLinkType">
        <complexContent>
            <!-- The relation URI for a collection of your resource. -->
            <restriction base="rc:ResourceLinkType">
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/species-collection"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <element
        name="species"
        type="app:SpeciesType"
    >
    </element>

    <element
        name="speciess"
        type="app:SpeciesCollectionType"
    >
    </element>

    <!-- INCIDENCE resource -->

    <complexType name="IncidenceType">
        <complexContent>
            <extension base="rc:ResourceType">
                <choice>
                    <element
                        name="link"
                        type="app:IncidenceLinkType"
                    >
                    </element>
                    <sequence>
                        <element ref="app:species">
                        </element>
                        <element
                            ref="app:site"
                            maxOccurs="1"
                            minOccurs="0"
                        >
                        </element>
                        <element
                            name="quantity"
                            type="double"
                        >
                        </element>
                    </sequence>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="IncidenceCollectionType">
        <choice>
            <element
                ref="app:incidence"
                maxOccurs="unbounded"
                minOccurs="0"
            >
            </element>
            <element
                name="link"
                type="app:IncidenceCollectionLinkType"
                maxOccurs="1"
                minOccurs="0"
            >
            </element>
        </choice>
    </complexType>

    <complexType name="IncidenceLinkType">
        <complexContent>
            <restriction base="rc:ResourceLinkType">
                <!-- The relation URI for members of your resource. -->
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/incidence"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="IncidenceCollectionLinkType">
        <complexContent>
            <!-- The relation URI for a collection of your resource. -->
            <restriction base="rc:ResourceLinkType">
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://plantscribe.org/relations/incidence-collection"
                >
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

    <element
        name="incidence"
        type="app:IncidenceType"
    >
    </element>

    <element
        name="incidences"
        type="app:IncidenceCollectionType"
    >
    </element>

</schema>